# --- Python / FastAPI / Django / Flask ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
venv/
instance/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
minio_data/

# --- Node / React / Frontend ---
node_modules/
dist/
build/
*.lock
*.log
frontend/
media/

# --- OS / IDE files ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.yml
# --- Environment and secret files ---
.env
*.env
.env.*


## source "/home/bs01604/Documents/LMS_Team_Version/venv/bin/activate"
## uvicorn app.main:app --reload